[submodule "plugins/zsh-syntax-highlighting"]
	path = plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "presets/oh-my-zsh"]
	path = presets/oh-my-zsh
	url = https://github.com/dongskyler/ohmyzsh.git
